/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (White): #FFFFFF;
*/

* {
    box-sizing: border-box;
  }

body {
    background-color: #FFFFFF;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
}



h1, h2, h3, h4 {
   line-height: 1.4; 
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}
  
h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 2;
    font-style: normal;
}



a {
    color: #4b72f4;
    text-decoration: none; 
  }

  a:hover {
    color: #050505;
    text-decoration: underline; 
  }

  a:visited { 
    color: #000000;
  }
  a:active { 
    color: #000000;
  }
  
  a:hover,
a:focus {
  color: #050505;
  text-decoration: underline;
}

.button {
    display: inline-block; 
    background-color: #a4b8ee;
    color: #080808; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    transition: 0.2s opacity;
  }
  
  .button:hover {
    opacity: 0.8; 
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color: #a4b8ee;
    text-transform: uppercase;
    border: 2px solid #a4b8ee;
    padding: 10px;
    border-radius: 3px;
  }

  .button.contact:hover {
    display: inline-block; 
    background-color: #a4b8ee;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
  }

  img {
    width: 100%;
  }

  
  .container {
    max-width: 1200px;
  }

  /* Layout styling */

  .container {
    padding: 0 15px;
  }

  .row {
    margin: 15px 0; /* 25px top and bottom, 0 left and right */
  }

 #hero h1 {
    margin: 0;
    padding: 0.67em 0;
    text-align: center; 
 }


 .logo {
  max-width: 250px;
}



nav > ul{
  list-style-type:none;
  padding:0;
  text-align: center;
}

nav > ul > li {
    display: inline-block;
} 

nav > ul > li > a {
  padding: 15px 5px;
  text-transform: uppercase;
  font-weight: 500;
  color:#000000;
  display: inline-block;
} 

#hero{
  background-color: #fefefe;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}



.header{
	/*start ------------*/
	width: 700px; 
	height: 700px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: 1px 18px 23px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 1px 18px 23px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 1px 18px 23px rgba(0, 0, 0, 0.3)  ; 
}

#hero h1 {
  text-align: center; /* Centers text */
}

#footer {
 img-align: center; /* Centers text */
}

selector {
  position:relative
}

.center {
  text-align: center;
}

#contact h2{
  text-align: center;
}

#together {
  text-align: center;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
  text-align: center; 
}

#about me h1 {
  text-align: center;
}


@media only screen and (min-width: 640px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}

header {
  text-align: unset;
}


@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}